:root {
  --white: #fff;
  --black: #000;
  --light-silver: #d9d9d9;
  --primary: #1890ff;
  --secondary: #fff1b8;

  --normal-font-size: 1rem;
  --max-width: 1200px;
}
body {
  min-height: 100vh;
  /* color: var(--color-text);
  background: var(--color-background); */
  /* font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif; */
  font-size: var(--normal-font-size);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 40px;
  min-width: 375px;
}

a {
  text-decoration: none;
}
